.app {
  text-align: center;
}

.app-header {
  background-color: #222;
  color: white;
  height: 5vh;
}

.map-container > * > * {
  height: 95vh !important;
}

.app-header h1 {
  margin: 0;
  padding: 5px;
}

.open-menu-btn {
  float: left;
  display: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.side-nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.side-nav .close-menu-btn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  display: none;
  color: white;
}

.side-nav h2 {
  color: white;
}

.search-field {
  margin: 10px;
}

.links {
  margin: 10px;
}

.links a {
  text-align: left;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
  cursor: pointer;
}
.links a:hover {
  background-color: rgba(255, 241, 0, 0.5);
}

.info-window {
    text-align: center;
}

@media screen and (max-width: 768px) {
  .side-nav .close-menu-btn, .open-menu-btn {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .app-header h1 {
    font-size: 1.5em;
  }

  .open-menu-btn {
    font-size: 1em;
    padding: 8px;
  }
}